
h1 {
color: white;
width: 450px;
height: 50px;
margin-left: auto;
margin-right: auto;
}

h2 {
color: white;
width: 300px;
height: 35px;;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 5%;
display: block;
}



p {

color: white;
margin-left: auto;
margin-right: auto;
width: 550px;
height: 60px;
}

/*
.cirkel {
top: 1%;
left: 1%;
background-color: white;
width: 50px;
height: 50px;
border-radius: 50%;
position: sticky;
}
*/








/* Insp fra W3 schools

.profile-box {
  top: 1%;
  left: 3%;
  background-color: white;
  height: 100px;
  width: 100px;
  position: sticky;
  border-radius: 25%;
}


.profile-boxbtn {
  display: none; /* Hidden by default
 position: fixed; /* Stay in place
 z-index: 1; /* Sit on top
 left: 0;
 top: 0;
 width: 100%; /* Full width
 height: 100%; /* Full height
 overflow: auto; /* Enable scroll if needed
 background-color: rgb(0,0,0); /* Fallback color
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity;
}

.profile-boxes {
  background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered *
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size *

}

.luk {
  color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.luk:hover,
.luk:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Insp fra W3 schools */

.drivhus {
  color: white;
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}


#taeller {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}


.logo-one img {
max-width: 200px;
max-height: 200px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}






.some-buttons {
width: 500px;
height: 50px;
margin: auto;
display: flex;
padding: 12px;
justify-content: center;
margin: auto;
display: flex;
flex:5%;

}











.fb {
flex: 5%;

}

.fb img:hover {
transform: scale(2);
transition-duration: 2s;

}


.instagram {
  margin-top: 5px;
  flex: 5%;
}

.instagram img:hover {
transform: scale(2);
transition-duration: 2s;

}





.linkedin {
  flex: 5%;
}

.linkedin img:hover {
transform: scale(2);
transition-duration: 2s;

}


.youtube {
    margin-top: 9px;
    flex: 5%;
}

.youtube img:hover {
transform: scale(2);
transition-duration: 2s;

}

.share {
  margin-top: 12px;
  flex: 5%;
}

.share img:hover {
transform: scale(2);
transition-duration: 2s;

}
