
h1 {
color: white;
width: 450px;
height: 50px;
margin-left: auto;
margin-right: auto;
}

h2 {
color: white;
width: 300px;
height: 35px;;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 5%;
display: block;
}



p {

color: white;
margin-left: auto;
margin-right: auto;
width: 550px;
height: 60px;
}

/*
.cirkel {
top: 1%;
left: 1%;
background-color: white;
width: 50px;
height: 50px;
border-radius: 50%;
position: sticky;
}
*/



.dots {
position: relative;
height: 10px;
width: 10px;
background: white;
border-radius: 50px;
display: block;
padding: 1px;
margin-top: 5px;
margin: 10px;
margin-left: 10px;

}

.generel-vert {

width: 200px;
height: 185px;
background-color: white;
opacity: 50%;
justify-content: center;
border-radius: 25px;
margin-left: 50px;
margin-top: 50px;
}

.generel-vert a {
  margin-top: 5px;
  display: block;
  color: black;
  padding: 12px;
  text-decoration: underline;
  text-align: center;
}


.generel-vert a:hover {
  background-color: #ccc;
  border-radius: 30px;
}



/* Insp fra W3 schools

.profile-box {
  top: 1%;
  left: 3%;
  background-color: white;
  height: 100px;
  width: 100px;
  position: sticky;
  border-radius: 25%;
}


.profile-boxbtn {
  display: none; /* Hidden by default
 position: fixed; /* Stay in place
 z-index: 1; /* Sit on top
 left: 0;
 top: 0;
 width: 100%; /* Full width
 height: 100%; /* Full height
 overflow: auto; /* Enable scroll if needed
 background-color: rgb(0,0,0); /* Fallback color
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity;
}

.profile-boxes {
  background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered *
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size *

}

.luk {
  color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.luk:hover,
.luk:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Insp fra W3 schools */





.taeller {
  height: 40px;
  width: 40px;
  position: fixed;
  color: white;
justify-content: center;
}





.logo-one img {
max-width: 200px;
max-height: 200px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}



.vert-menu {
top: 11%;
margin: auto;
width: 50%;
padding: 10px;
overflow-y: auto;
border-radius: 25px;
max-width: 250px;
}

.vert-menu a {
  border-radius: 25px;
  display: block;
  background-color: #eee;
  color: black;
  padding: 12px;
  text-decoration: none;
  margin: 12px;
}

.vert-menu a:hover {
  background-color: #ccc;
}



.some-buttons {
width: 500px;
height: 50px;
background-color: white;
opacity: 50%;
margin: auto;
}

.fb {


}


.instagram {


}


.mail {


}
