
.quest {
    display: flex;
    float: right;
}

.q-content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff90;
    border-radius: 17px 0px 17px 17px;
    bottom: 100px;
    right: 10px;
    padding-left: 2vw;
    width: 30vw;
    height: 60vh;
    position: fixed;
}

.infoBtn {
  background-color: #ffffff;
  border: solid;
  border-color:  #424141;
  border-width: thin;
  color:  #424141;
  padding: 5px;
  display: flex;
  float: right;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 200px;
  cursor: pointer;
}

.infoBtn1 {
    margin-right: 230px; 
}

.infoBtn2 {
    margin-right: 150px;
}

.infoBtn3 {
    margin-right: 155px;
}

.infoBtn5 {
    margin-right: 150px;
}

.question {
    padding: 10px;
}

.question h3 {
    font-size: 15px;
}

.btnCh {
    background-color: #ffffff;
    border: solid;
    border-color:  #424141;
    border-width: thin;
    color:  #424141;
    width: 56px;
    height: 25px;
    border-radius: 5px;
}

